.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 20px;
  padding: 24px;
  width: 360px;
  height: 840px;
  background: var(--inputs);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 312px;
  height: 616px;
}

.radio_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 153px;
  height: 488px;
}

.btn_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 312px;
  height: 128px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 312px;
  height: 88px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.locationField {
  display: flex;
  gap: 8px;
  flex-direction: row;
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  background: var(--white);
  width: 312px;
}

.locationInput {
  border: none;
  outline: none;
  background: transparent;
  width: 40px;
  height: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.input_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  stroke: currentColor;
  fill: currentColor;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  cursor: pointer;
}

.radio {
  width: 24px;
  height: 24px;
  accent-color: #4a5a52;
  cursor: pointer;
}

.searchButton {
  padding: 14px;
  border: none;
  background: var(--grey-green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 200px;
  padding: 16px 60px;
  width: 312px;
  height: 56px;
}

.searchButton:hover {
  opacity: 0.9;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid var(--gray-light);
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
  cursor: pointer;
  border-radius: 200px;
  padding: 15px 60px;
  width: 312px;
  height: 56px;
}

.clearButton:hover {
  background-color: #f9f9f9;
}

.clear_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  object-fit: contain;
  stroke: currentColor;
  fill: currentColor;
}
